%h2 List of users
%hr
%ul#users
  - (@users - [current_user]).each do |user|
    %li{ :id => "user_#{user.username}" }
      = user.username 
      - if are_friends(current_user, user)
        = link_to "Remove Friend", :controller => "friendship", :friend_id => user, :method => :delete
      - else
        = link_to "Add Friend", friendships_path(:friend_id => user), :method => :post

