%h2 List of users
%hr
%ul#users
  - (@users - [current_user]).each do |user|
    %li{ :id => "user_#{user.id}" }
      = user.username 
      - if are_friends(current_user, user)
        %span.status
          [ Your friend ]
        = link_to "Remove Friend", remove_friendship_path(user), :method => :delete
      - else
        %span.status
          [ Not yet friend ]
        = link_to "Add Friend", friendships_path(:friend_id => user), :method => :post
